.git
.github
.idea
.vscode
node_modules
vendor
public/build
storage/logs
storage/app/private/backups
storage/framework/cache/data
storage/framework/sessions
storage/framework/testing
storage/framework/views
bootstrap/cache/*.php
.env
.env.*
docker-compose*.yaml
docs
tests
